@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.si {
    color: #c7c7c7;
}
tr {
    border: #d5d5d5;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.side{
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-right: 1px solid #e1e1e1;

}
.profile{
    margin-top: 50px;
    position: relative;
}
.img {
    width: 200px;
    height: 200px;
    background: yellow;
    border-radius: 50%;
    overflow: hidden;
}
.img img{
    width: 100%;
    height: 100%;
}
.set{
    width: 35px;
    height: 35px;
    position: absolute;
    left: 85%;
    top: 5%;
    border-radius: 50%;
    border: 1px solid #cecece;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.set img {
    width: 80%;
    height: 80%;
    filter: invert(0.5);
}
.profile p {
    font-weight: bold;
}
.profile span {
    font-size: 0.9em;
    color: #3a3a3a;
    display: block;
    margin-bottom: 30px;
}
.profile a {
    display: block;
    margin-bottom: 30px;
}
.menu{
    width: 100%;
}
.menu div{
    height: 80px;
    background: #FFFEE2;
    padding-top: 30px;
    box-sizing: border-box;
}
.menu div:nth-child(5){
    background: #FFF282;
}
.menu .sub-menu{
    height: 180px;
    background: #fff;
    padding: 0;
    display: none;
}
.menu .sub-menu.active{
    display: block;
}

/*  section */


.sectionBox{
    flex: 1;
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
}

.sectionMain {
    width: 1400px;
    height: 800px;
    margin: 0 auto;
    padding-top: 50px;
}

.sectionMain .section01 {
    height: 50px;
    position: relative;
}
.sectionMain .section01 .AAA {
    width: 100%;
    margin: 0;
    text-align: center;
    color: #8d8d8d;
    font-size: 32px;
    float:left;
    position: absolute;
}
.sectionMain .section01 .addDay{
    width: 200px;
    margin: 5px 0 0 1150px;
    padding: 4px;
    font-weight: normal;
    font-size: 23px;
    background: #fff7c1;
    text-align: center;
    border-radius: 20px;
    position: absolute;
}
.icon {
    font-size: 22px;
    width: 200px;
    height: 50px;
    position: absolute;
    margin: 7px 0 0 609px;
}
.fa-angle-left {
    cursor: pointer;
}
.fa-angle-right {
    margin-left: 152px;
    cursor: pointer;
}

.sectionMain .section02 {
}

.section02 {
    padding-top: 20px;
}


#table1>thead{
    font-weight: bold;
    text-align: center;
    height: 100px;
}
#table1>tbody{
    vertical-align: top;
    text-align: left;
    height: 600px;
}
#table1{
    border-collapse: collapse;
}
#table1>thead>tr>td{
    width: 200px;
}
#c{
    background-color: coral;
    font-weight: bold;
}

#table1>tbody > tr >td:hover{
    background-color: rgb(140, 209, 255);
    color:blue;
    font-weight: lighter;
}

.closedDay {
    color: red;
    font-weight: bold;

}